/*
.testing{
  width: percentage(5/7);
}*/
/*IMPORTS*/
#_the_map_wrapper .b2b-location.wide .b2b-location-items ul li.show-details {
  overflow: auto !important; }

.mediaqueries.mobileview #container .item_1.the_list_item.center.hero.yes_image.yes_heads.yes_link.yes_desc, .mediaqueries.mobileview #container .section .list_block.type_article.a3 .the_list_item {
  background-attachment: initial !important; }

.mobileview #wrapper .mobile-menu {
  background-color: #ffffff !important; }

.the_list_item_action a, #gform_submit_button_1, #gform_submit_button_2 {
  background: #cccccc !important !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  box-shadow: none !important;
  border: none !important;
  font-size: 1.7rem !important;
  text-transform: uppercase !important;
  color: #ffffff !important !important; }

.the_list_item_action a:hover, #gform_submit_button_1:hover, #gform_submit_button_2:hover {
  background: #000000 !important !important;
  color: #ffffff !important !important; }

.the_list_item_action {
  background-color: transparent !important; }

#the_header {
  max-width: 100% !important;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15) !important; }

h1, h2, h3 {
  font-weight: normal !important; }

#the_header .logo-variation.logo-variation-header .logo-slot img {
  max-height: 13rem !important; }

.mediaqueries.mobileview .logo-slot img {
  max-height: 8rem !important; }

#_the_navigation a, #menu-holder a {
  font-size: 1.3rem !important;
  font-weight: normal !important; }

.home .full_width_content {
  margin: 0 auto !important;
  max-width: 100% !important; }

html:not(.mobileview) .home #container {
  margin-top: -4.2rem !important; }

.tsidesign_dl .the_list_wrap {
  padding: 12% 8% 12% !important;
  text-align: center !important; }

.tsidesign_dl .the_list {
  margin-bottom: 0rem !important; }

.tsidesign_dl .the_list_text {
  max-width: 134rem !important;
  margin: 0 auto !important; }

.tsidesign_dl .the_list_item_headline, .tsidesign_dl .the_list_item_subheadline {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important; }

.tsidesign_dl .the_list_item_action {
  float: none !important;
  width: auto !important; }

.tsidesign_feature {
  max-width: 106rem !important;
  display: block !important;
  margin: 0 auto !important; }
  .tsidesign_feature img {
    width: 100% !important;
    display: block !important;
    margin: 0 auto !important; }

.tsidesign_content {
  max-width: 106rem !important;
  margin: 0 auto !important; }

.home .content {
  padding-top: 3rem !important; }

#the_footer {
  max-width: 100% !important; }
